.frame {
    width: 320px;
    height: 350px;
    margin-bottom: -70px;
    border-width: 10px;
    border-style: ridge;
    border-color: goldenrod;
    z-index: -1;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    position: relative;
}

.frame img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.frame video {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.frame video source {
    width: 100%;
    height: 100%;
    animation: videoshow 10s ease-out 0s;
    animation-fill-mode: forwards;
}

.frame img.main {
    animation: slideshow 10s ease-in-out 5s;
    animation-fill-mode: forwards;
}

.frame img.main01 {
    opacity: 0;
    animation: slideshow 10s ease-in-out 15s;
    animation-fill-mode: forwards;
}

.frame img.main02 {
    opacity: 0;
    animation: slideshow 10s ease-in-out 25s;
    animation-fill-mode: forwards;
}

.frame img.main03 {
    opacity: 0;
    animation: slideshow 15s ease-in-out 33s;
    animation-fill-mode: forwards;
}

.frame img.main04 {
    opacity: 0;
    animation: slideshow 15s ease-in-out 45s;
    animation-fill-mode: forwards;
}

.frame img.main05 {
    opacity: 0;
    animation: slideshow 15s ease-in-out 58s;
    animation-fill-mode: forwards;
}

.frame img.main06 {
    opacity: 0;
    animation: slideshow 15s ease-in-out 71s;
    animation-fill-mode: forwards;
}

.frame img.main07 {
    opacity: 0;
    animation: slideshow 15s ease-in-out 85s;
    animation-fill-mode: forwards;
}

.frame img.main08 {
    opacity: 0;
    animation: slideshow 15s ease-in-out 100s;
    animation-fill-mode: forwards;
}

.frame img.main09 {
    opacity: 0;
    animation: slideshow 15s ease-in-out 115s;
    animation-fill-mode: forwards;
}

.frame img.main10 {
    opacity: 0;
    animation: slideshow 15s ease-in-out 130s;
    animation-fill-mode: forwards;
}

.frame img.main11 {
    opacity: 0;
    animation: slideshow 15s ease-in-out 143s;
    animation-fill-mode: forwards;
}

.frame img.main12 {
    opacity: 0;
    animation: slideshow 15s ease-in-out 197s;
    animation-fill-mode: forwards;
}

.frame img.main13 {
    opacity: 0;
    animation: slideshow 15s ease-in-out 201s;
    animation-fill-mode: forwards;
}

.frame img.main14 {
    opacity: 0;
    animation: slideshow 15s ease-in-out 205s;
    animation-fill-mode: forwards;
}

.frame img.main15 {
    opacity: 0;
    animation: slideshow 15s ease-in-out 220s;
    animation-fill-mode: forwards;
}

.frame img.main16 {
    opacity: 0;
    animation: slideshow 15s ease-in-out 235s;
    animation-fill-mode: forwards;
}

.frame img.main17 {
    opacity: 0;
    animation: slideshow 15s ease-in-out 240s;
    animation-fill-mode: forwards;
}

.frame img.main18 {
    opacity: 0;
    animation: slideshow 15s ease-in-out 255s;
    animation-fill-mode: forwards;
}

.frame img.main19 {
    opacity: 0;
    animation: slideshow 15s ease-in-out 270s;
    animation-fill-mode: forwards;
}

.frame img.main19 {
    opacity: 0;
    animation: slideshow 15s ease-in-out 270s;
    animation-fill-mode: forwards;
}


.frame img.main20 {
    opacity: 0;
    animation: slideshow 15s ease-in-out 285s;
    animation-fill-mode: forwards;
}


@keyframes slideshow {
    0% {
        opacity: 0.2;
        transform: scale(0.2);
    }

    75% {
        opacity: 0.9;
        transform: scale(0.9);
    }

    100% {
        opacity: 0;
        transform: scale(1);
    }
}

@keyframes videoshow {
    100% {
        opacity: 0;
    }
}

@media (min-width: 700px) {
    .frame {
        margin-bottom: -150px;
    }
}
